#header {
    height: 50px;
    padding: 10px 10px 0px 10px;
}

#header_logo {
    width: 100px;
    height: 30px;
    background-image: url("../img/btob_wireframe_coding_logo.png");
    background-size: cover;
}

#header_menu {
    margin: 0px;
}

#header_left_content {
    width: 70%;
}

#header_right_content {
    width: 30%;
}

#header_phone_number {
    margin-right: 10px;
}

.header_menu_li {
    margin-right: 30px;
    display: inline-block;
}

.header_menu_link {
    color: black;
    text-decoration: none;
}